.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p {
  margin: 0;
}
.container input[type="file"] {
  display: none;
}

.action {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.action button {
  width: 48%;
  padding: 10px;
  border: 1px solid rgb(169, 212, 249);
  border-radius: 5px;
  background-color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.action button:hover, .uploadbtn:hover {
  background-color: rgb(150, 203, 250);
  transition: all 0.5s;
  color: rgb(44, 43, 43);
}

.uploadbtn {
  padding: 10px;
  box-sizing: border-box;
  width: auto;
  text-align: center;
  width: 250px;
  margin: 10px;
  border: 1px solid rgb(169, 212, 249);
  border-radius: 5px;
  background-color: aliceblue;
}
